<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: hotpink;
        }
        a
        {
            color: blue;
        }
        #a
        {
            color: white;
        }
    </style>
</head>
<body>
    <center>
        <h1>Hasen Replying back to Karim</h1>
        <h1 id="a">Ok Take care and.. </h1>
        <h1 id="a">and you will get the job very soon.. Bye Karim</h1>
        <h2><a href="{% url 'karim4' %}">karim response</a></h2>
    </center>
</body>
</html>