<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karim2</title>
</head>
<body style="background-color: azure;">
    <center>
        <h1>Karim replying back to Hasen</h1>
        <h1 style="background-color: darkorange; color:aliceblue">Iam also good Hasen.. How is your new job in Mumbai</h1>
        <h2><a href="{% url 'hasen2' %}" style="color: darkblue;">hasen response</a></h2>
    </center>
</body>
</html>