<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karim3</title>
    <style>
        #a
        {
            color: blueviolet;
        }
        a
        {
            color: red;
        }
    </style>
</head>
<body style="background-color: gold;">
    <center>
        <h1>Karim Replying back to Hasen</h1>
        <h1 id="a">Ok nice Hasen..</h1>
        <h1 id="a">Iam also searching and i will get th job definetly</h1>
        <h2><a href="{% url 'hasen3' %}" >hasen response</a></h2>
    </center>
</body>
</html>