<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karim1</title>
    <style>
        h1
        {
            color: whitesmoke;
        }
    </style>
</head>
<body style="background-color: darkmagenta;">
    <center>
        <h1 style="background-color: yellow; color:black">Conversation between 2 friends</h1>
        <h1>Calling to Hasen</h1>
        <h1>ringing...</h1>
        <h1>call lifted,</h1>
        <h1>Hello Hasen!!..How are You?</h1>
        <h2><a href="{% url 'hasen1' %}" style="color: yellow;">hasen response</a></h2>
    </center>
</body>
</html>